<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="./base.js"></script>
    <script src="./index.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body class="dark">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Your Calendars:</h2>
    <table>
        <% for (var i = 0; i < calendars.length; i++) { %>
            <tr>
                <% if (calendars[i].access === "invited") { %>
                    <td><%= calendars[i].title %></td>
                    <td>Invited: 
                        <a href="javascript:void(0)" class="acceptInvite" data-calendar="<%= calendars[i].calendar %>">Accept</a>
                        <a href="javascript:void(0)" class="declineInvite" data-calendar="<%= calendars[i].calendar %>">Decline</a>
                    </td>
                <% } else { %>
                    <% if (calendars[i].access === "admin") { %>
                        <td><a href="./admin?calendar=<%= calendars[i].calendar %>"><%= calendars[i].title %></a></td>
                    <% } else { %>
                        <td><a href="./user?calendar=<%= calendars[i].calendar %>"><%= calendars[i].title %></a></td>
                    <% } %>
                    <td><%= calendars[i].access %></td>
                <% } %>
            </tr>
        <% } %>
    </table>
    <form action="/createCalendar" method="POST">
        <input type="text" name="calendarName" placeholder="Calendar Name">
        <button type="submit">Create Calendar</button>
    </form>
  </body>
</html>
