<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="./base.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="dark">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Your Calendars:</h2>
    <table>
        <% for (var i = 0; i < calendars.length; i++) { %>
            <tr>
                <td><a href="./user?calendar=<%= calendars[i].calendar %>"><%= calendars[i].title %></a></td>
                <td><%= calendars[i].access %></td>
            </tr>
        <% } %>
    </table>
    <form action="/createCalendar" method="POST">
        <input type="text" name="calendarName" placeholder="Calendar Name">
        <button type="submit">Create Calendar</button>
    </form>
  </body>
</html>
